body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	/*line-height: 24px;
	overscroll-behavior: none;*/
	position: fixed;
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	overscroll-behavior: contain;
	overflow: hidden;
}

#main-container {
	width: 100%;
	height: 100%;
	display: block;
}

#main-container div{
	left: auto !important;
	right: 270px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	/* TODO Solve this in HTML */
}

a,
button,
input,
select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important;
	/* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#side-bar-left {
	width: 350px;
	height: 80%;
	position: fixed;
	left: -350px;
	top: 10%;
	transition: all 0.25s;
	z-index: 3;
	overflow: visible;
	filter: drop-shadow(2px 4px 6px black);
}

#arrow-menu {
	position: absolute;
	right: -30px;
	width: 30px;
	height: 50px;
	background: white;
	border: none;
	top: 50%;
}

#info-box {
	width: 250px;
	height: auto;
	background: white;
	position: absolute;
	right: -250px;
	top: 30px;
	color: black;
	transition: all 0.2s;
	opacity: 0;
	pointer-events: none;
}

#side-bar-left .header {
	background: white;
	width: fit-content;
	height: 30px;
	color: black;
	font-size: 17px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#side-bar-left .header span{
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: all 0.3s;
}

#header-items{
	background-color: black;
	color: white;
}

#side-bar-left span:hover {
	color: white;
	background-color: grey;
}

#side-bar-left .body {
	background: white;
	width: 100%;
	height: calc(100% - 0px);
	overflow-y: scroll;
}

#top-menu {
	position: absolute;
	top: 0px;
	width: fit-content;
	height: 30px;
	left: calc(50% - 60px);
	background-color: rgba(255, 255, 255, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 0px 0px 10px 10px;
}

#top-menu button {
	background: transparent;
	border: none;
	margin: 5px;
	cursor: pointer;
	width: 30px;
	transition: all 0.25s;
}

#top-menu button:hover {
	color: white;
}

#top-menu-left {
	position: absolute;
	top: 0px;
	width: fit-content;
	height: 30px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 0px;
	padding-right: 10px;
}

#top-menu-left span {
	color: black;
	margin: 15px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s;
}

#top-menu-left span:hover {
	color: grey;
}

#ui {
	width: 100%;
	height: 100%;
	display: none;
}

#ui-top {
	position: absolute;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	transition: all 0.5s;
	z-index: 2;
}

.invisible {
	opacity: 0;
}

#ui-top:hover {
	opacity: 1;
}

#ui-left {
	width: 100px;
	height: 80%;
	position: absolute;
	left: 0px;
	top: 10%;
	z-index: 2;
}

#reticle {
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.cloud_mouse_selection {
	position: absolute;
	display: none;

	background-color: rgba(217, 147, 6, 0.05);
	border: 1px solid rgba(2, 1, 0, 0.3);
}

#loading-parent {
	width: 100%;
	height: 100%;
	transition: all 1s;
	opacity: 1;
	pointer-events: all;
	position: absolute;
	z-index: 100000;
	top: 0px;
	left: 0px;

	color: #fff;
	font-size: Clamp(18px, 3vw, 22px);
	font-family: sans-serif;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 4em;
	background: black;
	display: block;
}

#back-effect {
	background: rgba(13, 20, 114, 0.13);
}

#back-effect:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
	z-index: 5;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loading {
	position: absolute;
	bottom: 100px;
	right: 20px;
	margin: -36px 0 0 -36px;
	height: 40px;
	width: 40px;
	border: 8px dotted #ffffff;
	border-radius: 100%;
	animation: loading 2s infinite linear;
	z-index: 10;
}

#container {
	width: 100%;
	height: 100%;
	transition: all 1s;
}

#container canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#container img {
	pointer-events: none;
}

.hero {
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: block;
	width: 100%;
	padding-left: clamp(10px, 5vw, 4em);
	padding-right: clamp(10px, 5vw, 4em);
	position: absolute;
	bottom: 150px;
	z-index: 10;
}

.main-title {
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-size: 1.3em;
	margin-top: clamp(1em, 8.5vh, 10em);
}

.main-title span {
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-size: 3em;
	display: block;
}

.introduction-text {
	color: #fff;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	max-width: 700px;
	padding-left: 1.5em;
	border-left: 2px solid #fff;
	margin: 2em 0;
	line-height: 1.5;
}

.loading-bar {
	bottom: 120px;
	right: 20px;
	position: absolute;
	margin: 0 auto;
	height: 25px;
	width: 30%;
	border-radius: 50px;
}

.loading-bar span {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;

	border-radius: 50px;
	background-image: linear-gradient(to bottom, #bebebe, #555353 60%);
	box-shadow:
		inset 0 2px 9px rgba(255, 255, 255, 0.3),
		inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	animation: loading 2s infinite linear;
}

.loading-bar span:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(-45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent);
	z-index: 1;
	background-size: 50px 50px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

@keyframes load {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 50px;
	}
}

.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 15s infinite;
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}

.image:nth-of-type(2) {
	animation-delay: 5s;
}

.image:nth-of-type(3) {
	animation-delay: 10s;
}

@keyframes change-img-anim {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Menu */

.menu {
	position: absolute;
	width: 250px;
	padding: 2px;
	margin: 0;
	border: 1px solid #bbb;
	background: #eee;
	background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
	z-index: 10000000;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	opacity: 0;
	transform: translate(0, 15px) scale(.95);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	pointer-events: none;
	display: none;
}

.menu-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.menu-btn {
	display: block;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 8px;
	border-radius: 3px;
}

button.menu-btn {
	background: none;
	line-height: normal;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	width: 100%;
	text-align: left;
}

a.menu-btn {
	outline: 0 none;
	text-decoration: none;
}

.menu-text {
	margin-left: 25px;
}

.menu-btn .fa {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.menu-item:hover>.menu-btn {
	color: #fff;
	outline: none;
	background-color: #2E3940;
	background: linear-gradient(to bottom, #5D6D79, #2E3940);
	border: 1px solid #2E3940;
}

.menu-item-disabled {
	opacity: .5;
	pointer-events: none;
}

.menu-item-disabled .menu-btn {
	cursor: default;
}

.menu-separator {
	display: block;
	margin: 7px 5px;
	height: 1px;
	border-bottom: 1px solid #fff;
	background-color: #aaa;
}

.menu-item-submenu::after {
	content: "";
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	border: 5px solid transparent;
	border-left-color: #808080;
}

.menu-item-submenu:hover::after {
	border-left-color: #fff;
}

.menu .menu {
	top: 4px;
	left: 99%;
}

.menu-show,
.menu-item:hover>.menu {
	opacity: 1;
	transform: translate(0, 0) scale(1);
	pointer-events: auto;
	display: block;
}

.menu-item:hover>.menu {
	transition-delay: 300ms;
}

#settings-menu-grid {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: flex;
	flex-wrap: wrap;
}

#settings-menu-grid div {
	width: 19.5%;
	height: 24.5%;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

/*Chrome*/
input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 200px;
	height: 7px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	background-size: 70% 100%;
	background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#warning {
	position: absolute;
	height: 60px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	opacity: 0;
	pointer-events: none;
}

#warning span {
	background-color: rgba(255, 0, 0, 0.533);
	height: 30px;
	width: fit-content;
	font-size: 1.5vw;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

#items {
	display: grid;
	grid-template-columns: auto auto auto auto;
	height: auto;
}

#items img {
	width: 75px;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 10000;
	filter: drop-shadow(1px 2px 3px grey);
}

#items img:hover {
	transform: scale(1.2);
}

#follow {
	position: absolute;
	z-index: 100000;
	left: 0px;
	top: 0px;
	width: 50px;
	display: none;
	pointer-events: none;
}

.hasItem {
	display: none;
}

/**/

#mobile-controls{
	display: none;
	z-index: 1;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	opacity: 0.5;
	transition: all 0.3s;
}

#mobileInterface {
	position: fixed;
	width: 100%;
	height: 300px;
	pointer-events: none;
	z-index: 11;
	top: auto;
	touch-action: manipulation;
	bottom: 0px;
}

#mobileInterface #joystickWrapper1 {
	pointer-events: auto;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: transparent;
	width: 120px;
	height: 120px;
	z-index: 12;
	touch-action: manipulation;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

#mobileInterface #joystickWrapper2 {
	pointer-events: auto;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	left: auto;
	background-color: transparent;
	width: 120px;
	height: 120px;
	z-index: 12;
	touch-action: manipulation;
}

#mobileInterface #joystickWrapper2 #jumpButton {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	opacity: 1;
	touch-action: manipulation;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
}

#mobileInterface #joystickWrapper2 #jumpButton p {
	position: relative;
	display: inline-block;
	color: white;
	opacity: 1;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
	margin-left: 4px;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#camera2 {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}

#mobile-right-buttons{
	width: auto;
    height: auto;
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
	z-index: 2;
}

#mobile-controls button{
	width: 15vh;
    height: 15vh;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 50px;
    margin: 12px;
    padding: 5px;
    /*border: 2px solid white;*/
	transition: all 0.5s;
	z-index: 2;

	display: flex;
    justify-content: center;
    align-items: center;
	opacity: 0.8;
	outline: none;

	-webkit-user-select: none;
    user-select: none;
	touch-action: manipulation;
}

#close{
	width: 12vh;
    height: 12vh;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    /*filter: drop-shadow(2px 4px 6px black);*/
    border-radius: 50px;
    margin: 12px;
    padding: 5px;
    /*border: 2px solid white;*/
	position: absolute;
    bottom: 150px;
}

#close{
	bottom: auto;
    top: 0px;
}

#mobile-controls button img, #close img{
	width: 70%;
	height: 70%;

	-webkit-user-select: none;
    user-select: none;

	pointer-events: none;
}

button:focus {outline:0;}

#reset-control{
	background-color: white;
	padding: 10px;
	border: none;
    margin: 10px;
    font-weight: bolder;
}

#placeholder{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000000;
	left: 0px;
	top: 0px;
	position: fixed;
}

.disabled{
	opacity: 0.5;
	pointer-events: none;
}

#panel-top{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	background-color: #0035ff4a;/*100000000*/
	z-index: 100000000;
	pointer-events: none;
	opacity: 0;
	transition: all 0.25s;
}

.tut2{
	font-size: 40px;
}

.social-link{
	display: block;
	width: auto;
	height: 30px;
	margin: 20px;
	transition: all 0.3s;
	cursor: pointer;
}

.social-link:hover{
	transform: scale(1.5);
}

.sub-option{
	display: none;
}

.production-disabled{
	display: none !important;
}

.loading-disabled{
	display: none;
}

.gel{
	/*display: none !important;*/
}